<!DOCTYPE html>
<html>
<head>
  <title>Cre8tive</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<ul>
		<% if current_user %>
			<li><a href="/">Home</a></li>
			<li><a href="<%= sessions_delete_path %>">Logout</a></li>
		<% else %>
			<li><a href="<%= sessions_new_path %>">Login</a></li>
	    <% end %>
    </ul>

<%= yield %>

</body>
</html>
